@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');

@import 'tailwindcss';

@font-face {
  font-family: 'Modern Negra';
  src: url('/fonts/Modern Negra Demo.ttf') format('truetype');
}

@theme {
  --color-yellow: #e7d393;
  --color-white-100: #efefef;
  --font-sans: 'Mona Sans', sans-serif;
  --font-modern-negra: 'Modern Negra', sans-serif;
  --font-serif: 'DM Serif Text', serif;
}

html,
body {
  width: 100%;
  background-color: black;
  color: white;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility col-center {
  @apply flex flex-col items-center justify-center;
}

@utility abs-center {
  @apply absolute -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2;
}

@utility background-gradient {
  @apply bg-gradient-to-b from-[#1a1a1a] to-[#000000];
}

@utility text-bright {
  @apply font-modern-negra text-yellow;
}

@utility text-gradient {
  background: linear-gradient(to bottom, #ffffff, #898989);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@utility radial-gradient {
  background: radial-gradient(
    circle at center,
    #434343 0%,
    #000 50%,
    transparent 100%
  );
}

@utility masked-img {
  mask-image: url('@assets/images/mask-img.png');
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 50%;
}

@layer components {
  a {
    @apply transition-colors duration-500;
  }

  .badge {
    @apply inline-block px-4 py-2 mb-8 text-sm font-medium text-black bg-white rounded-full;
  }

  main {
    @apply w-full overflow-x-hidden;
  }

  nav {
    @apply fixed z-50 w-full;

    div {
      @apply container flex flex-col items-center gap-5 px-5 py-5 mx-auto md:flex-row md:justify-between lg:px-0;
    }

    p {
      @apply -mb-2 text-3xl font-modern-negra;
    }

    a {
      @apply text-sm cursor-pointer text-nowrap md:text-base hover:text-yellow;
    }

    ul {
      @apply flex-center lg:gap-12 gap-7;
    }
  }

  .noisy {
    @apply absolute inset-0 size-full bg-[url("@assets/images/noise.png")];
  }

  .footer {
    @apply relative w-full mt-0 overflow-hidden text-center md:mt-20 radial-gradient;

    #f-left-leaf {
      @apply absolute bottom-0 left-0 w-1/3 pointer-events-none lg:w-fit;
    }

    #f-right-leaf {
      @apply absolute top-0 right-0 hidden pointer-events-none lg:block;
    }

    .content {
      @apply container flex flex-col justify-between gap-10 pt-16 mx-auto lg:pt-14 2xl:pt-32 min-h-dvh;

      h2 {
        @apply text-5xl translate-y-5 lg:text-6xl 2xl:text-8xl font-modern-negra md:translate-y-0;
      }

      h3 {
        @apply mb-4 text-base uppercase xl:text-base 2xl:text-lg;
      }

      p,
      li,
      a {
        @apply text-sm lg:text-2xl 2xl:text-3xl;
      }

      ul {
        @apply gap-6 col-center;

        li {
          @apply gap-2 col-center;

          span {
            @apply text-xs font-semibold lg:text-xl 2xl:text-2xl;
          }
        }
      }

      a {
        @apply transition-colors duration-500 hover:text-gray-400;
      }
    }

    .drink-img {
      @apply absolute bottom-0 right-0 w-1/3 pointer-events-none lg:w-96;
    }
  }
}
